<div class="container">
    <div class="row bg-light">
        <div class="col-3 pr-1" style="height: 660px">
            <div class="row">
                <img class="rounded-2" src="<%= user.picpath %>" style="width:300px;height:300px">
                <div class="position-absolute bg-dark rounded-2 text-white p-1 ml-1 mt-1">
                    <a href="/settings/profile/changeImage" class="text-light">
                        <svg height="16" width="16" class="octicon octicon-pencil" viewBox="0 0 14 16" version="1.1" aria-hidden="true">
                            <path fill-rule="evenodd" d="M0 12v3h3l8-8-3-3-8 8zm3 2H1v-2h1v1h1v1zm10.3-9.3L12 6 9 3l1.3-1.3a.996.996 0 0 1 1.41 0l1.59 1.59c.39.39.39 1.02 0 1.41z">
                                <a href="/settings/profile/changeImage" class="text-light"> Edit </a>
                            </path>
                        </svg>
                        Edit
                    </a>
                </div>
                <div class="col float-left pr-1 mt-3">
                    <p> 用户：<%= user.username %> </p>
                    <p> 邮箱：<%= user.email %> </p>
                    <p> 个性签名：<%= user.bio %> </p>
                </div>
            </div>
        </div>

        <div class="col-9 p-3 " style="height: 660px">
            <ul class="nav nav-pills mb-1 ml-3" id="pills-tab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true"> Home </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false"> Profile </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#pills-contact" role="tab" aria-controls="pills-contact" aria-selected="false"> Contact </a>
                </li>
            </ul>
            <div class="tab-content" id="pills-tabContent">
                <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
                    <div class="my-2 py-2">
                        <ul class="list-group">
                            <li class="info list-group-item gray"> 账号注册：<span> <%= user.register_time %></span>  </li>
                            <li class="info list-group-item"> 上次登录：<span> <%= user.last_login_time %> </span>  </li>
                            <li class="info list-group-item gray"> 本次登录：<span> <%= user.login_time %> </span> </li>
                            <li class="info list-group-item"> 上次发表：<span> <%= user.last_post_time %> </span> </li>
                            <li class="info list-group-item gray"> 上次留言：<span> <%= user.last_msg_time %> </span> </li>
                        </ul>
                    </div>
                    <div class="my-2 py-1 px-4 border">
                        <p class="info"> <span class="text-info"> 最近发表的话题： </span> </p>
                        <h4> <a class="topic-link text-lg-center" href="/showTopics/all/<%= topicId %>"> <%= user.last_post.slice(0, 20) %> </a> </h4>
                    </div>
                    <div class="my-2 py-1 px-4 border">
                        <p class="info"> <span class="text-info"> 最近的留言内容： </span> </p>
                        <h4> <a class="topic-link text-lg-center" href="/showTopics/all/<%= msgTopicId %>"> <%= user.last_msg.slice(0, 20) %> </a> </h4>
                    </div>
                </div>

                <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
                    <div class="row">`
                        <div class="col-7">
                            <div class="float-left pr-1 mt-2">
                                <!--
                                    <p> 昵称：<%= user.nickname %> </p>
                                    <p> 性别：<%= user.gender %> </p>
                                    <p> 生日：<%= user.birthday %> </p>
                                    <p> 个性签名：<%= user.bio %> </p>
                                    <p> 邮箱：<%= user.email %> </p>
                                    <p> 手机：<%= user.telephone %> </p>
                                    <p> QQ：<%= user.qq %> </p>
                                    <p> 微信：<%= user.wechat %> </p>
                                -->
                                <dl class="part_two show">
                                    <dt class="mb-3">
                                        <h4 class="mb-3"> 用户信息 && 设置</h4>
                                    </dt>

                                    <dd>
                                        <span class="title"> 昵称：</span>
                                        <input placeholder="<%= user.nickname %>" id="name" maxlength="11" type="text" class="data_mobile bg-light" value="" disabled="true">
                                        <svg height="16" width="16" class="octicon octicon-pencil" viewBox="0 0 14 16" version="1.1" aria-hidden="true">
                                            <path fill-rule="evenodd" d="M0 12v3h3l8-8-3-3-8 8zm3 2H1v-2h1v1h1v1zm10.3-9.3L12 6 9 3l1.3-1.3a.996.996 0 0 1 1.41 0l1.59 1.59c.39.39.39 1.02 0 1.41z">
                                            </path>
                                        </svg>
                                        <button class="btn sure"> 确定 </button>
                                    </dd>
                                    <dd>
                                        <span class="title"> 性别：</span>
                                        <input placeholder="<%= user.gender %>" maxlength="11" type="text" class="data_mobile bg-light" value="" disabled="">
                                        <svg height="16" width="16" class="octicon octicon-pencil" viewBox="0 0 14 16" version="1.1" aria-hidden="true">
                                            <path fill-rule="evenodd" d="M0 12v3h3l8-8-3-3-8 8zm3 2H1v-2h1v1h1v1zm10.3-9.3L12 6 9 3l1.3-1.3a.996.996 0 0 1 1.41 0l1.59 1.59c.39.39.39 1.02 0 1.41z">
                                            </path>
                                        </svg>
                                        <button class="btn sure"> 确定 </button>
                                    </dd>
                                    <dd>
                                        <span class="title"> 生日：</span>
                                        <input placeholder="<%= user.birthday %>" maxlength="11" type="text" class="data_mobile bg-light" value="" disabled="">
                                        <svg height="16" width="16" class="octicon octicon-pencil" viewBox="0 0 14 16" version="1.1" aria-hidden="true">
                                            <path fill-rule="evenodd" d="M0 12v3h3l8-8-3-3-8 8zm3 2H1v-2h1v1h1v1zm10.3-9.3L12 6 9 3l1.3-1.3a.996.996 0 0 1 1.41 0l1.59 1.59c.39.39.39 1.02 0 1.41z">
                                            </path>
                                        </svg>
                                        <button class="btn sure"> 确定 </button>
                                    </dd>
                                    <dd>
                                        <span class="title"> 邮箱：</span>
                                        <input placeholder="<%= user.email %>" maxlength="11" type="email" class="data_mobile bg-light" value="" disabled="">
                                        <svg height="16" width="16" class="octicon octicon-pencil" viewBox="0 0 14 16" version="1.1" aria-hidden="true">
                                            <path fill-rule="evenodd" d="M0 12v3h3l8-8-3-3-8 8zm3 2H1v-2h1v1h1v1zm10.3-9.3L12 6 9 3l1.3-1.3a.996.996 0 0 1 1.41 0l1.59 1.59c.39.39.39 1.02 0 1.41z">
                                            </path>
                                        </svg>
                                        <button class="btn sure"> 确定 </button>
                                    </dd>
                                    <dd>
                                        <span class="title"> 手机：</span>
                                        <input placeholder="<%= user.telephone %>" maxlength="11" type="text" class="data_mobile bg-light" value="" disabled="">
                                        <svg height="16" width="16" class="octicon octicon-pencil" viewBox="0 0 14 16" version="1.1" aria-hidden="true">
                                            <path fill-rule="evenodd" d="M0 12v3h3l8-8-3-3-8 8zm3 2H1v-2h1v1h1v1zm10.3-9.3L12 6 9 3l1.3-1.3a.996.996 0 0 1 1.41 0l1.59 1.59c.39.39.39 1.02 0 1.41z">
                                            </path>
                                        </svg>
                                        <button class="btn sure"> 确定 </button>
                                    </dd>
                                    <dd>
                                        <span class="title"> QQ：</span>
                                        <input placeholder="<%= user.qq %>" maxlength="11" type="text" class="data_mobile bg-light" value="" disabled="">
                                        <svg height="16" width="16" class="octicon octicon-pencil" viewBox="0 0 14 16" version="1.1" aria-hidden="true">
                                            <path fill-rule="evenodd" d="M0 12v3h3l8-8-3-3-8 8zm3 2H1v-2h1v1h1v1zm10.3-9.3L12 6 9 3l1.3-1.3a.996.996 0 0 1 1.41 0l1.59 1.59c.39.39.39 1.02 0 1.41z">
                                            </path>
                                        </svg>
                                        <button class="btn sure"> 确定 </button>
                                    </dd>
                                    <dd>
                                        <span class="title"> 微信：</span>
                                        <input placeholder="<%= user.wechat %>" maxlength="11" type="text" class="data_mobile bg-light" value="" disabled="">
                                        <svg height="16" width="16" class="octicon octicon-pencil" viewBox="0 0 14 16" version="1.1" aria-hidden="true">
                                            <path fill-rule="evenodd" d="M0 12v3h3l8-8-3-3-8 8zm3 2H1v-2h1v1h1v1zm10.3-9.3L12 6 9 3l1.3-1.3a.996.996 0 0 1 1.41 0l1.59 1.59c.39.39.39 1.02 0 1.41z">
                                            </path>
                                        </svg>
                                        <button class="btn sure"> 确定 </button>
                                    </dd>
                                    <dd>
                                        <span class="title"> 个性签名：</span>
                                        <input placeholder="<%= user.bio %>" maxlength="11" type="text" class="data_mobile bg-light" value="" disabled="">
                                        <svg height="16" width="16" class="octicon octicon-pencil" viewBox="0 0 14 16" version="1.1" aria-hidden="true">
                                            <path fill-rule="evenodd" d="M0 12v3h3l8-8-3-3-8 8zm3 2H1v-2h1v1h1v1zm10.3-9.3L12 6 9 3l1.3-1.3a.996.996 0 0 1 1.41 0l1.59 1.59c.39.39.39 1.02 0 1.41z">
                                            </path>
                                        </svg>
                                        <button class="btn sure"> 确定 </button>
                                    </dd>
                                </dl>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="justify-content-end row">
                                <img class="rounded-2" id="head_pic" src="<%= user.picpath %>" style="width:200px;height:200px">
                                <div class="position-absolute bg-secondary rounded-2 text-light p-1">
                                    <a href="/settings/profile/changeImage" class="text-light">
                                        <svg height="16" width="16" class="octicon octicon-pencil" viewBox="0 0 14 16" version="1.1" aria-hidden="true">
                                            <path fill-rule="evenodd" d="M0 12v3h3l8-8-3-3-8 8zm3 2H1v-2h1v1h1v1zm10.3-9.3L12 6 9 3l1.3-1.3a.996.996 0 0 1 1.41 0l1.59 1.59c.39.39.39 1.02 0 1.41z">
                                            </path>
                                        </svg>
                                    </a>
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="row pl-3">
                        <div class="float-left p-1">
                            <div class="w-100 m-1">
                                <!-- 按钮：用于打开模态框 -->
                                <button type="button" class="btn btn-primary btn-block my-3" data-toggle="modal" data-target="#myModal">
                                    修改密码
                                </button>
                                <!-- 模态框 -->
                                <div class="modal fade" id="myModal">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h4 class="modal-title">修改密码</h4>
                                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                            </div>
                                            <div class="modal-body">
                                                <form action="/settings/advanced" accept-charset="UTF-8" method="post">
                                                    <div id='signUpBox'>
                                                        <div class="auth-form-body mt-2">
                                                            <label for="oldPassword"> 原密码 </label>
                                                            <input required type="password" name="oldPassword" id="oldPassword"
                                                                   class="form-control input-block" tabindex="1" autocapitalize="off"
                                                                   autocorrect="off" autofocus="autofocus" />
                                                            <label for="newPassword1"> 新密码 </label>
                                                            <input required type="password" name="newPassword1" id="newPassword1"
                                                                   class="form-control form-control input-block" tabindex="2" />

                                                            <label for="newPassword2"> 新密码确认 </label>
                                                            <input required type="password" name="newPassword2" id="newPassword2"
                                                                   class="form-control form-control input-block" tabindex="2" />

                                                            <input type="submit" name="commit" value="确定" tabindex="3"
                                                                   class="btn btn-primary btn-block" data-disable-with="Signing in…" />
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">本帝不改了</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">
                    <h1> 显示用户的联系人，及操作概要 </h1>
                </div>
            </div>
        </div>
    </div>

</div>