
<ul class="nav nav-pills mb-1 ml-3 mt-3" id="pills-tab" role="tablist">
	<li class="nav-item">
		<a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true"> 子论坛 </a>
	</li>
	<li class="nav-item">
		<a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false"> 用户 </a>
	</li>
	<li class="nav-item">
		<a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#pills-contact" role="tab" aria-controls="pills-contact" aria-selected="false"> 帖子 </a>
	</li>
</ul>
<div class="tab-content m-2 p-2 bg-light" id="pills-tabContent">
	<div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
		<table class="table table-hover">
			<thead class="thead-dark">
				<tr>
					<th scope="col"> id </th>
					<th scope="col"> name </th>
					<th scope="col"> edit </th>
				</tr>
			</thead>

			<tbody>
				<% listDelBoard.forEach(board => { %>
					<tr>
						<th scope="row"> <%= board.id %> </th>
						<td> <%= board.board_name %> </td>
						<td>
							<a class="btn btn-info" href="/admin/blackHouse/out/board/<%= board.id %>"> Let out </a>
						</td>
					</tr>
				<% }) %>
			</tbody>
		</table>
	</div>

	<div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">

		<table class="table table-hover">
			<thead class="thead-dark">
				<tr>
					<th scope="col"> id </th>
					<th scope="col"> 用户名 </th>
					<th scope="col"> 邮箱 </th>
					<th scope="col"> Edit </th>
				</tr>
			</thead>

			<tbody>
				<% listDelUser.forEach( user => { %>
					<tr>
						<th scope="row"> <%= user.id %> </th>
						<td> <%= user.username %> </td>
						<td> <%= user.email %> </td>
						<td>
							<a class="btn btn-info" href="/admin/blackHouse/out/user/<%= user.id %>"> Let out </a>
						</td>
					</tr>
				<% }) %>
			</tbody>
		</table>

	</div>

	<div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">
		<table class="table table-hover">
			<thead class="thead-dark">
				<tr>
					<th scope="col"> id </th>
					<th scope="col"> title </th>
					<th scope="col"> board_name </th>
					<th scope="col"> Top? </th>
					<th scope="col"> Star? </th>
					<th scope="col"> edit </th>
				</tr>
			</thead>

			<tbody>
				<% listDelTopic.forEach( topic => { %>
					<tr>
						<th scope="row"> <%= topic.id %> </th>
						<td> <%= topic.title %> </td>
						<td> <%= topic.board_name %> </td>
						<td>
							<% if(topic.top === 1) {%>
								True
							<%} else {%>
								False
							<% } %>
						</td>
						<td>
							<% if(topic.star === 1) {%>
								True
							<%} else {%>
								False
							<% } %>
						</td>
						<td>
							<a class="btn btn-info mr-2" href="/admin/blackHouse/out/topic/<%= topic.id %>"> Let out </a>
							<a class="btn btn-danger" href="/admin/blackHouse/delete/topic/<%= topic.id %>"> 彻底删除 </a>
						</td>
					</tr>
				<% }) %>
			</tbody>
		</table>
	</div>
</div>


