<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title> Simple BBS </title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link crossorigin="anonymous" media="all" integrity="sha512-Cc73o557zxvw32bFLLW7+eLwVRIAuuA73yJTaC3Sa4e0hIej7Jp20LEujbX810MZ9UZvxB8tZrxGnv/ZTZzhBg==" rel="stylesheet" href="https://github.githubassets.com/assets/frameworks-aea1483741d7c7c127f6294ced2bb4d0.css" />
    <link crossorigin="anonymous" media="all" integrity="sha512-gCEnB66HhIaKGVToELwzGKaFsWbPleggGMzN+opN7p7jHwfdy9KEzQoe7FoDZ8/a7tAhdGWlghft3djWshWtgg==" rel="stylesheet" href="https://github.githubassets.com/assets/github-99674072dc40b3da2332f5253acb142a.css" />
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>  
</head>

<body>
    <header class="bg-dark">

       <% include ../partials/header_navbar.html %>

    </header>

    <main>
        <div class="container w-100" style="min-height: 50rem">

            <div class="page-content">
                <section>
                    <div class="col-3 float-left">
                        <nav class="navbar p-0" aria-label="Personal settings" data-pjax>
                            <ul class="navbar-nav bg-light border">
                                <h3 class="menu-heading">
                                    Personal settings
                                </h3>

                                <li class="nav-item">
                                    <a class="js-selected-navigation-item selected menu-item" aria-current="page"
                                       data-selected-links="avatar_settings /settings/profile" href="/settings/profile"> 个人资料 </a>
                                </li>
                                <li class="nav-item">
                                    <a class="js-selected-navigation-item menu-item" data-selected-links=" /settings/contaction"
                                       href="/settings/connection">
                                        联系信息
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="js-selected-navigation-item menu-item" data-selected-links=" /settings/advanced"
                                       href="/settings/advanced"> 高级设置 </a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </section>

                <%- body %>
            </div>
             
        </div>
    </main>

    <footer class="bg-dark">

        <% include ../partials/footer_navbar.html %>

    </footer>
       

</body>

</html>