<div class="row h-100 justify-content-center px-5 pt-2">
    <form action="/settings/profile/changeImage" method="post" enctype="multipart/form-data" class="w-75 h-100 px-5 pt-2">
        <div class="row h-100 mx-2 my-1 p-2">
            <div class="col-md-8 h-100 mb-3">
                <div class="imageBox" style="width:400px;height:400px">
                    <div class="thumbBox" style="width:200px;height:200px;top:25%;left:25%;position: absolute"></div>
                    <div class="spinner" style="display: none">Loading...</div>
                </div>
                <div class="buttonBox mt-3">
                    <div class="new-contentarea form-group tc bg-dark">
                        <a href="javascript:void(0)" class="upload-img">
                            <label for="image">上传图片</label>
                        </a>
                        <input type="file" class="btn-upload-file" accept="image/gif, image/jpeg, image/x-ms-bmp, image/x-png, image/png, image/jpg" name="image" id="image" />
                    </div>
                    <input type="button" id="btnCrop"  class="Btnsty_peyton btn btn-dark" value="裁切">
                    <input type="button" id="btnZoomIn" class="Btnsty_peyton btn btn-dark" value="+"  >
                    <input type="button" id="btnZoomOut" class="Btnsty_peyton btn btn-dark" value="-" >
                </div>
            </div>
            <div class="col-md-4 h-100 mb-3">
                <div class="cropped"></div>
                <input type="hidden"  id="source_image" name="source_image" value="" style="width:200px;height:30px">
                <input type="hidden"  id="upload_base" name="upload_base" value="" style="width:200px;height:30px">
            </div>
        </div>

        <div class="row justify-content-center ml-3 mr-2 px-3">
            <button class="btn  btn-primary btn-block" type="submit"> 保存头像 </button>
        </div>

    </form>

</div>