

<section>
	<div class="col-9 float-right pr-1" style="height: 660px">
		<div class="w-100 h-100">
			<form class="m-2 p-1" action="/settings/profile" method="post">
				<div class="col-6 float-left pr-1">
					<div class="form-group mt-1 mb-3">
						<h5 class="form-group-prepend mb-1"> 昵称：</h5>
						<input type="text" class="form-control" name="nickname" placeholder="Nickname" aria-label="Username"
							aria-describedby="basic-addon1">
					</div>
					<div class="form-group mb-3">
						<h5 class="form-group-prepend mb-1"> 生日：</h5>
						<input type="text" class="form-control" name="birthday" placeholder="birthday" aria-label="Email"
							aria-describedby="basic-addon1">
					</div>
					<div class="form-group mb-3">
						<h5 class="form-group-prepend mb-1"> 性别：</h5>
						<input type="text" placeholder="此处不是警察局　^_^" name="gender" class="form-control" aria-label="text"
							aria-describedby="basic-addon1">
					</div>
					<div class="form-group mb-3">
						<h5 class="form-group-prepend mb-1"> 个性签名：</h5>
						<input type="text" class="form-control overflow-auto" name="bio" placeholder="随便写点什么吧..."
							aria-label="text" aria-describedby="basic-addon1">
					</div>
				</div>
				<div class="col-6 float-right pl-1">
					<div class="float-right form-group mt-1 mb-3">
						<h4 class="mb-2"> Profile picture </h4>
						<img class="rounded-2 mb-3" id="head_pic" src="../<%= user.picpath %>" style="width:200px;height:200px">
						<br>
						<a href="/settings/profile/changeImage" class="btn btn-lg btn-primary">修改头像</a>
					</div>
				</div>
				<button type="submit" class="btn btn-primary btn-block">保存设置</button>
			</form>
		</div>
	</div>
</section>

